.center {
    text-align: center;
}

.invisible {
    display: none;
}

.titleText {
    display: block;
    text-align: center;
    font-size: 64px;
    font-family: "Spectral", serif;
    margin: 15px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; } /* reference: https://blog.hubspot.com/website/css-fade-in */
    100% { opacity: 1; }
}

.scene {
    display: inline-block;
    width: 500px;
    height: 260px;
    text-align: center;
    vertical-align: bottom;
}

.cat {
    position: relative;
    width: 233px;
    height: 200px;
    top: -205px;
}

body {
    overflow: hidden;
}